@page
@model RedditProject.Pages.PostsModel

<h2>Posts</h2>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Date Created</th>
        <th>Subreddit</th>
        <th>User</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var post in Model.Posts)
    {
        <tr>
            <td>@post.Title</td>
            <td>@post.Content</td>
            <td>@post.DateCreated.ToShortDateString()</td>
            <td>@post.Subreddit.Name</td>
            <td>@post.User.Username</td>
        </tr>
    }
    </tbody>
</table>