@page
@model RedditProject.Pages.UserModel
@{
    ViewData["Title"] = "User Profile";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>@Model.Username</h1>
            <ul class="list-group">
                @foreach (var post in Model.Posts)
                {
                    <li class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@post.Title</h5>
                            <small>@post.DateCreated</small>
                        </div>
                        <p class="mb-1">@post.Content</p>
                        <small>Posted in @Model.Subreddits.FirstOrDefault(s => s.Id == post.SubredditId)?.Name</small>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>